<log4net debug="true">
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\CMS\Logs_Naveen-"></file>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true"></appendToFile>
    <rollingStyle value="Composite"></rollingStyle>
    <datePattern value="ddMMyyyy'.log'"></datePattern>
    <staticLogFileName value="false" />
    <maxSizeRollBackups value="50" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate [%CID] %-5level- %message%newline" />
      <converter>
        <name value="CID" />
        <type value="log4net.Layout.Pattern.CorrelationPatternConverter, log4net.correlationPatternConverter" />
      </converter>
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>
